Source: ros-kinetic-katana-teleop
Section: misc
Priority: extra
Maintainer: Henning Deeken <hdeeken@uni-osnabrueck.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-control-msgs, ros-kinetic-katana-msgs, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://ros.org/wiki/katana_teleop
Standards-Version: 3.9.2

Package: ros-kinetic-katana-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-control-msgs, ros-kinetic-katana-msgs, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Description: This package provides tele-operation nodes to control the Neuronics Katana 450 arm via keyboard commands or with a playstation 3 controller.
